*.py[c]

build/*
dist/*
media/*
*.egg-info

*.db

*~
*.swp

.DS_Store

.idea

pip-log.txt

favicon.ico
fql_data.py
fql_data.sql
graph_data.py
graph_data.sql
sqlparse
sqlparse-0.1.3.tar.gz
sqlparse-0.1.3/*
